<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627770552953-anlklscpn53iah740dqsv3qdp049gtvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627770552953-anlklscpn53iah740dqsv3qdp049gtvh</string>
	<key>API_KEY</key>
	<string>AIzaSyBJVT3ty7YHknzYQ2lA1v-MhvVBn7FvcNY</string>
	<key>GCM_SENDER_ID</key>
	<string>627770552953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spotifyDatingApp.GroupApp436</string>
	<key>PROJECT_ID</key>
	<string>spotifydatingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>spotifydatingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627770552953:ios:47e405e3dd652a2ce65aa8</string>
	<key>DATABASE_URL</key>
	<string>https://spotifydatingapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>